p: a(href="/"): img.aside-profile-img.aside-img(src="")
h3 Jordan Cauley
p: strong Front End Develper
p Greensboro, NC
ul
  li
    a(href="#{ my_website} ") jordancauley.com
  li
    a(href="http://github.com/jdcauley") Github
  li
    a(href="http://twitter.com/#{ twitter }") Twitter
