nav.simple-nav
  ul
    li
      a(href="http://github.com/jdcauley") github
    li
      a(href="http://twitter.com/jdcauley") twitter
    li
      a(href="http://jordancauley.com") jordancauley.com

.container.the-header
  .row
    .col-sm-4
      img.img-round(src="#{ site_url }/assets/images/me.jpg")

    .col-sm-8
      h1 Hello, my name is Jordan Cauley
      h4 I'm Front End Developer teaching myself to be a Full Stack Engineer
      p Last year I launched more than 40 websites serving three continents. Most of my work is for area agencies. I am currently learning backdend development using Node.js.

