nav.main-nav
  ul
    li
      a(href="/") Home
    li
      a(href="/about") About
    li
      a(href="https://github.com/jdcauley") GitHub
    li
      a(href="https://plstc.co") Plstc.co
    li
      a(href="https://git.works") Git.Works
      
